<template>
  <div class="conteiner">
    <div class="row mt-5" v-if="$gate.isAdmin()">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Les Dépenses</h3>

            <div class="card-tools">
              <button class="btn btn-success" @click="newModal">
                <i class="fas fa-user-plus fa fw"></i> Ajouter Dépense
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table id="table" class="table table-hover">
              <thead>
                <tr>
                  <th>Designation</th>
                  <th>Montant</th>
                  <th>commentaire</th>
                  <th>fichier</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="depense in depenses" :key="depense.depenses_id">
                  <td>{{depense.libelle}}</td>
                  <td>{{depense.montant}}</td>
                  <td>{{depense.commentaire}}</td>
                  <td
                    class="btn btn-success"
                    v-if="depense.fichier"
                    @click="telecharger(depense.fichier)"
                  >Document</td>
                  <td v-else ></td>
                  <td>{{depense.created_at}}</td>
                  <td>
                    <a href="#" @click="editModal(depense)">
                      <i class="fa fa-edit blue"></i>
                    </a>
                    /
                    <a href="#" @click="deleteDepense(depense.depenses_id)">
                      <i class="fa fa-trash red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer">
            <pagination :data="divers" @pagination-change-page="getResults"></pagination>
          </div>-->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div v-if="!$gate.isAdmin()">
      <not-found></not-found>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addNew"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">ajouter</h5>
            <h5 class="modal-title" v-show="editmode" id="addNewLabel">Modifier divers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updateDepense() : createDepense()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="form.libelle"
                  type="text"
                  name="libelle"
                  placeholder="Libelle"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('libelle') }"
                />
                <has-error :form="form" field="libelle"></has-error>
              </div>
              <div class="form-group">
                <input
                  v-model="form.montant"
                  type="text"
                  name="montant"
                  placeholder="montant"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('montant') }"
                />
                <has-error :form="form" field="montant"></has-error>
              </div>
              <div class="form-group">
                <label class="form-control-label">Fichier</label>
                <input
                  type="file"
                  class="form-control"
                  @change="updateFichier"
                  name="fichier"
                  id="divers"
                  :class="{ 'is-invalid': form.errors.has('fichier') }"
                />
                <has-error :form="form" field="fichier"></has-error>
              </div>
              <div class="form-group">
                <textarea
                  v-model="form.commentaire"
                  type="text"
                  name="commentaire"
                  placeholder="commentaire"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('commentaire') }"
                ></textarea>
                <has-error :form="form" field="commentaire"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">fermer</button>
              <button v-show="editmode" type="submit" class="btn btn-success">Modifier</button>
              <button v-show="!editmode" type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import notFoundComponentVue from "./notFoundComponent.vue";
export default {
  mounted() {
    console.log("Component mounted.");
    // this.getResults();
    this.getDepenses();
    setTimeout(function() {
      $("#table").DataTable({
        language: {
          url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        }
      });
    }, 2000);
  },
  components: {
    "not-found": notFoundComponentVue
  },
  data() {
    return {
      editmode: false,
      divers: {},
      montantPaye: {},
      depenses: [],
      bien: {},
      locataire: {},
      d: {},
      // Create a new form instance
      form: new Form({
        depenses_id: null,
        libelle: "",
        montant: "",
        commentaire: "",
        fichier: ""
      }),
      fichier: ""
    };
  },
  methods: {
    // depense() {
    //   axios.post("api/depenses", this.depenseValues).then(resp => {
    //     console.log(resp);
    //   });
    // },
    getDepenses() {
      axios.get("api/depenses").then(resp => {
        this.depenses = resp.data;
      });
    },

    updateDepense() {
      this.$Progress.start();
      // Submit the form via a POST request
      this.form
        .put("/api/depenses/" + this.form.depenses_id)
        .then(() => {
          //this will update dom automatically
          //this.loaddivers();
          $("#addNew").modal("hide");
          Swal.fire(
            "Modifiaction...!",
            "Dépense modifiée avec succès",
            "success"
          );
          Fire.$emit("AfterCreate");
          this.$Progress.finish();
          this.getDepenses();
        })
        .catch(() => {
          Swal.fire("Oups..!", "Erreur de modification, réessayer", "error");
          this.$Progress.fail();
        });
    },
    editModal(depense) {
      this.editmode = true;
      // this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(depense);
    },
    newModal() {
      this.editmode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    telecharger(e) {
      window.open("img/profile/" + e);
    },
    updateFichier(e) {
      this.form.fichier = e.target.files[0];
      this.ext_image2 = [
        "image/jpeg",
        "application/pdf",
        "image/png",
        "image/jpg"
      ];

      if (this.ext_image2.indexOf(this.form.fichier.type) < 0) {
        Swal.fire({
          type: "error",
          title: "Oops...",
          text: "Fichier images et pdf seulements autorisés"
        });
        document.getElementById("divers").value = "";
        return;
      }
    },
    loaddivers() {
      if (this.$gate.isAdmin()) {
        axios.get("/api/divers").then(({ data }) => (this.divers = data));
      }
    },
    findOperation() {
      this.form.post("/api/findoperation").then(response => {
        let operation = response.data.data;
        for (let i = 0; i < operation.length; i++) {
          this.montantPaye = operation[i].montantPaye;
          this.bien = operation[i].details;
          this.locataire = operation[i].nom;
          this.form.operations = operation[i].operation_id;
          this.showLoc = true;
        }
      });
    },
    createDepense() {
      this.$Progress.start();
      // Submit the form via a POST request
      var fichier = new FormData();
      fichier.append("id", this.form.id);
      fichier.append("libelle", this.form.libelle);
      fichier.append("fichier", this.form.fichier);
      fichier.append("commentaire", this.form.commentaire);
      fichier.append("montant", this.form.montant);

      axios
        .post("/api/depenses", fichier)
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");

          Toast.fire({
            icon: "success",
            title: "Dépense créé enregistrer"
          });
          this.$Progress.finish();
          this.getDepenses();
        })
        .catch(e => {
         // Swal.fire("Oups..!", "Erreur de création, réessayer", "error");
          console.log(e);
        });
    },
    deleteDepense(id) {
       // console.log(id);
      Swal.fire({
        title: "Étes vous sûr?",
        text: "Cette action est irréversible",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Oui, Supprimer!"
      }).then(result => {
        //send ajax request to the server
        if (result.value) {
          axios
            .delete("/api/depenses/" + id)
            .then(() => {
              Swal.fire(
                "Suppression...!",
                "Dépense supprimée avec succès",
                "success"
              );
              Fire.$emit("AfterCreate");
              this.getDepenses();
            })
            .catch(() => {
              Swal.fire("Oups..!", "Erreur de suppression, réessayer", "error");
            });
        }
      });
    }
  },

  created() {
    this.loaddivers();
    Fire.$on("AfterCreate", () => {
      this.loaddivers();
    });
    //setInterval(()=>this.loaddivers(),10000)
  }
};
</script>
