<template>
  <div class="conteiner">
    <!-- bien -->

    <div class="row mt-5" v-if="$gate.isAdminOrBailleurs()">
      <div class="col-md-12" v-if="showTab">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">liste des locations</h3>

            <div class="card-tools">
              <!-- <button class="btn btn-success" @click="newModal">
                <i class="fas fa-user-plus fa fw"></i> Ajouter Equipement
              </button>-->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table id="table2" class="table table-hover">
              <thead>
                <tr>
                  <th>Nom complet</th>
                  <th>adresse</th>
                  <th>Bien</th>
                  <th>prix</th>
                  <th>Caution</th>
                  <th>numero</th>
                  <th>statut</th>
                  <th>Date</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody v-for="operation in Operation.data" :key="operation.id">
                <tr v-if="operation.statut=='louer'" style="background-color:#5ad09e">
                  <td>{{operation.prenom}} {{operation.nom}}</td>
                  <td>{{operation.adresse}}</td>
                  <td>{{operation.details}}</td>
                  <td>{{operation.prix}}</td>
                  <td>{{operation.caution}}</td>
                  <td>{{operation.ref}}</td>
                  <td>{{operation.statut}}</td>
                  <td>{{operation.created_at}}</td>
                  <td>
                    <button class="btn btn-success" @click="detail(operation)">
                      <i class="fas fa-rent-plus fa fw"></i> detail
                    </button>
                  </td>
                </tr>
                <tr v-if="operation.statut=='revoquer'" style="background-color:#f21d59">
                  <td>{{operation.prenom}} {{operation.nom}}</td>
                  <td>{{operation.adresse}}</td>
                  <td>{{operation.details}}</td>
                  <td>{{operation.prix}}</td>
                  <td>{{operation.caution}}</td>
                  <td>{{operation.ref}}</td>
                  <td>{{operation.statut}}</td>
                  <td>
                    <button class="btn btn-success" @click="detail(operation)">
                      <i class="fas fa-rent-plus fa fw"></i> detail
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination :data="Operation" @pagination-change-page="getResults"></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>

    <div v-if="!$gate.isAdminOrBailleurs()">
      <not-found></not-found>
    </div>
    <section class="content" v-if="detailShow">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> ALAWA.
                    <small class="float-right">Date: {{date|myDate}}</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-3 invoice-col">
                  <h3>propriétaire</h3>
                  <address>
                    <strong>alawa.</strong>
                    <br />alawa
                    <br />alawa
                    <br />Phone: alawa
                    <br />Email: info@alawa.com
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 invoice-col">
                  <h3>locataire</h3>
                  <address>
                    <strong>{{details.prenom}}</strong>
                    <strong>{{details.nom}}</strong>

                    <br />
                    Phone: {{details.tel}}
                    <br />
                    sexe: {{details.sexe}}
                    <br />
                    adresse: {{details.adresse}}
                    <br />
                    profession: {{details.profession}}
                    <br />
                    nationalité: {{details.nationalite}}
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 invoice-col">
                  <h3>Bien</h3>

                  <b>Bien:</b>
                  {{details.details}}
                  <br />
                  <b>Prix:</b>
                  {{details.prix}}
                  <br />
                  <b>Adresse:</b>
                  {{details.adresse}}
                  <br />
                  <b>référence location:</b>
                  {{details.ref}}
                </div>

                <div class="col-sm-3 invoice-col">
                  <h3>Opération</h3>

                  <b>Prix du Bien:</b>
                  {{details.prix}}
                  <br />
                  <b>Montant reçu:</b>
                  {{details.montantOperation}}
                  <br />
                  <b>Caution:</b>
                  {{details.caution}}
                  <br />
                  <b>Charges:</b>
                  {{details.charge}}
                  <br />
                  <b>TVA:</b>
                  {{details.tva}}
                  <br />
                  <b>TEOM:</b>
                  {{details.teom}}
                  <br />
                  <b>DE:</b>
                  {{details.de}}
                  <br />
                  <b>Total taxe:</b>
                  {{details.taxes}}
                  <br />
                  <b>Total TTC:</b>
                  {{details.montantPaye}}
                  <br />
                  <b>Reste à verser HT:</b>
                  {{details.prix - details.montantOperation}}
                </div>
                <!-- /.col -->
              </div>

              <div
                class="modal fade"
                id="addNew"
                tabindex="-1"
                role="dialog"
                aria-labelledby="addNewLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addNewLabel">Modification opération</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form @submit.prevent="updateOperation()">
                      <div class="modal-body">
                        <div class="row col-md-12">
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Montant versé</label>
                            <input
                              v-model="operation.montantOperation"
                              type="number"
                              name="montantOperation"
                              placeholder="Montant versé"
                              class="form-control"
                              :class="{ 'is-invalid': operation.errors.has('montantOperation') }"
                            />
                            <has-error :form="operation" field="montantOperation"></has-error>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Caution</label>
                            <input
                              v-model="operation.caution"
                              type="number"
                              name="caution"
                              placeholder="Caution"
                              class="form-control"
                              readonly
                              :class="{ 'is-invalid': operation.errors.has('caution') }"
                            />
                            <has-error :form="operation" field="caution"></has-error>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Commission</label>
                            <input
                              v-model="operation.commission"
                              type="number"
                              name="commission"
                              placeholder="commission"
                              class="form-control"
                              readonly
                              :class="{ 'is-invalid': operation.errors.has('commission') }"
                            />
                            <has-error :form="operation" field="commission"></has-error>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Charge</label>
                            <input
                              v-model="operation.charge"
                              type="number"
                              name="charge"
                              placeholder="charge"
                              class="form-control"
                              readonly
                              :class="{ 'is-invalid': operation.errors.has('charge') }"
                            />
                            <has-error :form="operation" field="charge"></has-error>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Date d'entrée</label>
                            <input
                              v-model="operation.dateEntre"
                              type="date"
                              name="dateEntre"
                              placeholder="dateEntre"
                              class="form-control"
                              readonly
                              :class="{ 'is-invalid': operation.errors.has('dateEntre') }"
                            />
                            <has-error :form="operation" field="dateEntre"></has-error>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Durée</label>
                            <input
                              v-model="operation.durée"
                              type="number"
                              name="duree"
                              placeholder="duree"
                              class="form-control"
                              readonly
                              :class="{ 'is-invalid': operation.errors.has('duree') }"
                            />
                            <has-error :form="operation" field="duree"></has-error>
                          </div>
                          <!-- <div class="form-group col-sm-6">
                            <label class="form-control-label">Pièce d’identitée</label>
                            <input
                              type="file"
                              @change="updatePiece"
                              name="piece"
                              placeholder="Pièce d’identitée"
                              class="form-control"
                              :class="{ 'is-invalid': operation.errors.has('piece') }"
                            />
                            <has-error :form="operation" field="piece"></has-error>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Derniére relevée</label>
                            <input
                              type="file"
                              @change="updateDernier"
                              name="derniereleve"
                              placeholder="Derniére relevée"
                              class="form-control"
                              :class="{ 'is-invalid': operation.errors.has('derniereleve') }"
                            />
                            <has-error :form="operation" field="derniereleve"></has-error>
                          </div>-->
                          <div class="form-group col-sm-6">
                            <label class="form-control-label">Commentaire</label>
                            <textarea
                              v-model="operation.commentaire"
                              type="text"
                              name="commentaire"
                              placeholder="commentaire"
                              class="form-control"
                              readonly
                              :class="{ 'is-invalid': operation.errors.has('commentaire') }"
                            ></textarea>
                            <has-error :form="operation" field="commentaire"></has-error>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input type="checkbox" v-model="operation.tva" />
                            <label class="form-control-label">TVA</label>
                          </div>
                          <div class="form-group">
                            <input type="checkbox" v-model="operation.teom" />
                            <label class="form-control-label">TEOM</label>
                          </div>
                          <div class="form-group">
                            <input type="checkbox" v-model="operation.de" />
                            <label class="form-control-label">DE</label>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.row -->

              <div class="form-row">
                <div
                  class="col row no-print"
                  @click="dernier(details.dernierelevé)"
                  v-if="details.dernierelevé"
                >
                  <button type="button" class="btn btn-success float-right">
                    <i class="fas fa-download"></i>
                    dernier relevé
                  </button>
                </div>
                <div class="col row no-print" @click="piece(details.piece)" v-if="details.piece">
                  <button type="button" class="btn btn-primary float-right">
                    <i class="fas fa-print"></i>
                    piece
                  </button>
                </div>
                <div class="col row no-print" v-if="statut=='louer'">
                  <button
                    type="button"
                    class="btn btn-danger float-right"
                    @click="Revoquer(details)"
                  >
                    <i class="fas fa-trash"></i>
                    Revoquer
                  </button>&nbsp; &nbsp;
                  <button
                    type="button"
                    class="btn btn-primary float-right"
                    @click="detailOperation(details)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    Modifier
                  </button>
                </div>
                <!-- <div class="col row no-print" v-if="statut=='louer'" @click="Revoquer(details)">
                  <button type="button" class="btn btn-danger float-right">
                    <i class="fas fa-trash"></i>
                    Modifier
                  </button>
                </div>-->
              </div>
            </div>
            <!-- /.invoice -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</template>

<script>
import notFoundComponentVue from "./notFoundComponent.vue";

export default {
  mounted() {
    console.log("Component mounted.");
    this.getResults();
    setTimeout(function() {
      $("#table2").DataTable({
        language: {
          url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        }
      });
    }, 2000);
  },
  components: {
    "not-found": notFoundComponentVue
  },
  data() {
    return {
      Operation: {},
      operationUpdate: false,
      details: {},
      detailShow: false,
      showTab: true,
      statut: "",
      date: new Date(),
      form: new Form({
        numero: "",
        operation_id: "",
        bien_id: ""
      }),
      operation: new Form({
        operation_id: "",
        bien_id: "",
        details: "",
        etat: "",
        libelle: "",
        prix: "",
        adresse: "",
        caution: "",
        montantPaye: "",
        montantOperation: "",
        dateEntre: "",
        clients: "",
        client_id: "",
        libelleE: "",
        louer: "",
        numero: "",
        commission: "",
        tva: false,
        teom: false,
        de: false,
        durée: "",
        dernierelevé: "",
        piece: "",
        commentaire: "",
        charge: "",
        taxes: ""
      })
    };
  },
  methods: {
    // Our method to GET results from a Laravel endpoint
    getResults(page = 1) {
      axios.get("api/revoque?page=" + page).then(response => {
        this.Operation = response.data;
      });
    },
    dernier(e) {
      window.open("img/profile/" + e);
    },
    piece(e) {
      window.open("img/profile/" + e);
    },
    updateOperation() {
      this.$Progress.start();
      this.operation
        .put(`/api/operations/${this.operation.operation_id}`, this.operation)
        .then(response => {
          //this will update dom automatically
          //this.loadUsers();
          let message = response.data.message;
          let status = response.data.status;
          console.log(message);
          if (status == 500) {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: message
            });
            this.$Progress.finish();
          } else {
            this.getResults();
            Toast.fire({
              icon: "success",
              title: "Location effectuée avec succès"
            });
            this.$Progress.finish();
            $("#addNew").modal("hide");
            location.reload();
          }
        })
        .catch(e => {
          Swal.fire("Oups..!", "Erreur de location, réessayer", "error");
          console.log(e);
        });
    },
    Revoquer(e) {
      Swal.fire({
        title: "Étes vous sûr?",
        text: "Cette action est irréversible!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Révoquer!",
        cancelButtonText: "Annuler"
      }).then(result => {
        //send ajax request to the server
        if (result.value) {
          this.form
            .post("/api/addrevoque")
            .then(() => {
              Swal.fire(
                "success!",
                "Révocation terminée avec success.",
                "success"
              );
              this.getResults();
            })
            .catch(() => {
              Swal.fire("Oups..!", "Erreur de révocation, réessayer", "error");
            });
        }
      });
      this.$Progress.start();
      this.detailShow = false;
    },
    detail(e) {
      console.log(e);
      this.detailShow = true;
      this.details = e;
      this.statut = e.statut;
      this.form.operation_id = e.operation_id;
      this.form.bien_id = e.bien_id;
    },
    detailOperation(item) {
      $("#addNew").modal("show");
      this.operation.fill(item);
      if (item.teom != null && item.teom != 0) {
        this.operation.teom = true;
      } else {
        this.operation.teom = false;
      }
      if (item.tva != null && item.tva != 0) {
        this.operation.tva = true;
      } else {
        this.operation.tva = false;
      }
      if (item.de != null && item.de != 0) {
        this.operation.de = true;
      } else {
        this.operation.de = false;
      }
    },
    updateDernier(e) {
      if (this.operation.dernierelevé) {
        this.operation.dernierelevé = e.target.files[0];

        this.ext_image2 = [
          "image/jpeg",
          "application/pdf",
          "image/png",
          "image/jpg"
        ];

        if (this.ext_image2.indexOf(this.operation.dernierelevé.type) < 0) {
          Swal.fire({
            type: "error",
            title: "Oops...",
            text: "Fichiers images et pdf seulements autorisés"
          });
          document.getElementById("derniereleve").value = "";
          return;
        }
      }
    },
    updatePiece(e) {
      if (this.operation.piece) {
        this.operation.piece = e.target.files[0];

        this.ext_image2 = [
          "image/jpeg",
          "application/pdf",
          "image/png",
          "image/jpg"
        ];

        if (this.ext_image2.indexOf(this.operation.piece.type) < 0) {
          Swal.fire({
            icon: "error",
            type: "error",
            title: "Oops...",
            text: "Fichiers images et pdf seulements autorisés "
          });
          document.getElementById("piece").value = "";
          return;
        }
      }
    },
    created() {
      this.getResults();
      Fire.$on("AfterCreate", () => {
        this.getResults();
      });
      //setInterval(()=>this.loadOperation(),10000)
    }
  }
};
</script>
